.mat-card {
  text-align: center;
  padding: 60px;
}

.mat-form-field {
  display: block;
}
.register-wrapper {
  max-width: 30%;
  width: 100%;
  margin: 15em auto;
}

.success-growl-color-class {
  background-color: #008e00;
  color: #ffffff;
  min-height: 70px!important;
  margin-bottom: 100px!important;
}

.mat-simple-snackbar-action button {
  color: #ffffff;
  border-radius: 5px;
}

.mat-simple-snackbar-action button:hover {
  background-color: #45a049;
}

