<mat-card style="margin: 10px;">
  <div class="booking-card">
    <img mat-card-sm-image class="example-header-image" alt="no image" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    <mat-card-header>
      <mat-card-title>FirstName LastName</mat-card-title>
      <mat-card-subtitle>Role</mat-card-subtitle>
    </mat-card-header>
    <span class="home-toolbar-spacer"></span>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">APPROVE</button>
      <button mat-raised-button color="warn">DELETE</button>
    </mat-card-actions>
  </div>
</mat-card>
